{% extends 'base.html' %}

{% block content %}

<div class="row g-3">

            <div class="col-md-8">
                <div class="card">
                    <div class="card-header d-flex gap-3">
                        <i class="bi bi-list-task"></i>
                        Add Category
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label">Parking Area Number</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Vehicle Type</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Vehicle limit</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Parking Charge</label>
                            <input type="text" class="form-control">
                        </div>
                        <button class="btn btn-primary w-100">
                        Submit
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header d-flex gap-2">
                        <i class="bi bi-person-arms-up"></i>
                        Details:
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Car</td>
                                    <td class="text-end">$ 4.00</td>
                                </tr>
                                <tr>
                                    <td>Motorcycle</td>
                                    <td class="text-end">$ 2.00</td>
                                </tr>
                                <tr>
                                    <td>Mini Van</td>
                                    <td class="text-end">$ 5.00</td>
                                </tr>
                                <tr>
                                    <td>Pickup Van</td>
                                    <td class="text-end">$ 5.00</td>
                                </tr>
                                <tr>
                                    <td>Mini Bus</td>
                                    <td class="text-end">$ 6.00</td>
                                </tr>
                                <tr>
                                    <td>Car Type 101</td>
                                    <td class="text-end">$ 7.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-3">
            <div class="card">
                <div class="card-header d-flex gap-3">
                    <i class="bi bi-list-check"></i>
                    Manage Category
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center">
                            <label for="" class="me-2">Show</label>
                            <select class="form-select w-auto me-2">
                                <option>10</option>
                                <option value="">25</option>
                                <option value="">50</option>
                            </select>
                            <label for="">Entries</label>
                        </div>
                        <div class="d-flex align-items-center">
                            <label for="" class="me-2">Search:</label>
                            <input type="text" class="form-control" name="" id="">
                        </div>
                    </div>
                    <div class="table-responsive">
                    <table class="table table-bordered text-center align-middle">
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>Area Number</th>
                                <th>Vehicle Type</th>
                                <th>Vehicle limit</th>
                                <th>Charge</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.parking_area_number }}</td>
                                <td>{{ i.vehicle_type }}</td>
                                <td>{{ i.vehicle_limit }}</td>
                                <td>{{ i.parking_charge }}</td>
                                <td>
                                    {% if i.status %}
                                    <span class="badge bg-success rounded-pill px-3">
                                        Activated
                                    </span>
                                    {% else %}
                                    <span class="badge bg-danger rounded-pill px-3">
                                        Deactivated
                                    </span>
                                    {% endif %}
                                </td>
                                <td class="d-flex gap-1 justify-content-center">
                                    <a href="{% url 'edit_category' i.id %}"class="btn btn-primary btn-sm">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a href="{% url 'delete_category' i.id %}"class="btn btn-danger btn-sm">
                                        <i class="bi bi-trash3"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p>Showing 1 to 6 entries</p>
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="" class="page-link">Previous</a>
                            </li>
                            <li class="page-item active">
                                <a href="" class="page-link">1</a>
                            </li>
                            <li class="page-item">
                                <a href="{% url 'category_2'%}" class="page-link">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
 