{% extends 'base.html' %}

{% block content %}

<div class="row g-3">

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="bg1 stat-box d-flex justify-content-between">
                    <div>
                        <h3>1</h3>
                        <p>Vehicles Parked</p>
                    </div>
                    <i class="bi bi-p-square-fill fs-1"></i>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="bg2 stat-box d-flex justify-content-between">
                    <div>
                        <h3>2</h3>
                        <p>Departed Vehicles</p>
                    </div>
                    <i class="bi bi-car-front fs-1"></i>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="bg3 stat-box d-flex justify-content-between">
                    <div>
                        <h3>6</h3>
                        <p>Available Category</p>
                    </div>
                    <i class="bi bi-box2 fs-1"></i>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="bg4 stat-box d-flex justify-content-between">
                    <div>
                        <h3>$18.00</h3>
                        <p>Total Earnings</p>
                    </div>
                    <i class="bi bi-cash-coin fs-1"></i>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="bg5 stat-box d-flex justify-content-between">
                    <div>
                        <h3>3</h3>
                        <p>Total Earnings</p>
                    </div>
                    <i class="bi bi-stack fs-1"></i>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="bg6 stat-box d-flex justify-content-between">
                    <div>
                        <h3>74</h3>
                        <p>Total Parking Slots</p>
                    </div>
                     
                </div>
            </div>

        </div>

{% endblock %}