<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body class="bg-dark">
    <div class="text-white">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex gap-2">
                        <i class="bi bi-car-front"></i><h4 class="mb-4">Simple Parking Management System</h4>
                    </div>
                    <hr>
                    <div class="offset-md-4">
                        <div class="card shadow p-4 col-md-6">
                            <div class="d-flex justify-content-center gap-2">
                                <i class="bi bi-box-arrow-in-right fs-4"></i>
                                <h3 class="text-center mb-4">Admin Login</h3>
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                {% for message in messages %}
                                <div class="alert alert-danger">
                                    {{message}}
                                </div>
                                {% endfor %}
                                <div class="mb-3">
                                    <label class="form-label">Username</label>
                                     {{form.username}}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Mobile Number</label>
                                     {{form.mobile_number}}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Password</label>
                                     {{form.password}}
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#forgotModal">
                                    Forgot Password?
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer class="bg-dark text-white text-center p-3">
  © 2026 SPMS | All Rights Reserved
</footer>

<!-- Forgot Password Modal -->
<div class="modal fade" id="forgotModal" tabindex="-1">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Forgot Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <div id="messageBox"class="text-center mb-3 fw-bold">

                </div>

                <!-- Mobile Number -->
                <div id="mobileDiv">

                    <input type="text"
                           id="forgot_mobile_number"
                           class="form-control"
                           placeholder="Enter Mobile Number">

                    <button class="btn btn-primary mt-3 w-100"
                            onclick="getOTP()">
                        Get OTP
                    </button>

                </div>

                <!-- OTP -->
                <div id="otpDiv" style="display:none;">

                    <input type="text"
                           id="otp"
                           class="form-control"
                           placeholder="Enter 6 Digit OTP">

                    <button class="btn btn-success mt-3 w-100"
                            onclick="verifyOTP()">
                        Submit OTP
                    </button>

                </div>

                <!-- New Password -->
                <div id="passwordDiv" style="display:none;">

                    <input type="password"
                           id="new_password"
                           class="form-control"
                           placeholder="Enter New Password">

                    <button class="btn btn-danger mt-3 w-100"
                            onclick="resetPassword()">
                        Change Password
                    </button>

                </div>

            </div>

        </div>
    </div>

</div>
<script>

function showMessage(message, color){
    let box = document.getElementById('messageBox')
    box.innerHTML = message
    box.style.color = color
}

function getOTP(){
    let mobile_number =
        document.getElementById('forgot_mobile_number').value
    fetch('/forgot_password/',{
        method:'POST',
        headers:{
            'Content-Type':'application/x-www-form-urlencoded',
            'X-CSRFToken':'{{ csrf_token }}'
        },
        body:'mobile_number='+mobile_number
    })
    .then(response => response.json())
    .then(data => {
        if(data.status == 'success'){
            showMessage(
                "OTP Sent Successfully",
                "green"
            )
            document.getElementById('mobileDiv').style.display='none'
            document.getElementById('otpDiv').style.display='block'
        }
        else{
            showMessage(
                data.message,
                "red"
            )
        }
    })
}

function verifyOTP(){
    let otp =
        document.getElementById('otp').value
    fetch('/verify_otp/',{
        method:'POST',
        headers:{
            'Content-Type':'application/x-www-form-urlencoded',
            'X-CSRFToken':'{{ csrf_token }}'
        },
        body:'otp='+otp
    })
    .then(response => response.json())
    .then(data => {
        if(data.status == 'success'){
            showMessage(
                "OTP Verified Successfully",
                "green"
            )
            document.getElementById('otpDiv').style.display='none'
            document.getElementById('passwordDiv').style.display='block'
        }
        else{
            showMessage(
                data.message,
                "red"
            )
        }
    })
}

function resetPassword(){
    let new_password =
        document.getElementById('new_password').value
    fetch('/reset_password/',{
        method:'POST',
        headers:{
            'Content-Type':'application/x-www-form-urlencoded',
            'X-CSRFToken':'{{ csrf_token }}'
        },
        body:'new_password='+new_password
    })
    .then(response => response.json())
    .then(data => {
        if(data.status == 'success'){
            showMessage(
                "Password Changed Successfully",
                "green"
            )
            setTimeout(() => {
                location.reload()
            }, 1500)
        }
    })
}

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>