{% extends 'base.html' %}

{% block content %}

<div class="row g-3">
            
            <div class="col-md-3 mb-2">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <h5>Total Vehicles</h5>
                        <h3>25</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <h5>Total Revenue</h5>
                        <h3>$150</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="card bg-warning text-dark">
                    <div class="card-body">
                        <h5>Wrong Parking</h5>
                        <h3>3</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="card bg-danger text-white">
                    <div class="card-body">
                        <h5>Pending Payments</h5>
                        <h3>5</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Reports |
                <small>Filter records by date range</small>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-3 mb-2">
                        <label>From Date</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-md-3 mb-2">
                        <label>To Date</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-md-3 mb-2">
                        <label>Vehicle Type</label>
                        <select class="form-control">
                            <option>All</option>
                        </select>
                    </div>
                    <div class="col-md-3 d-flex align-items-end mb-2">
                        <button class="btn btn-secondary w-100">Generate</button>
                    </div>
                </div>
                

                <div class="card-body">
                    <div class="row">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Vehicle Number">
                            <button class="btn btn-secondary" type="button">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-striped text-center">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Vehicle Number</th>
                                <th>Type</th>
                                <th>Area</th>
                                <th>Charge</th>
                                <th>Payment</th>
                                <th>Parking Status</th>
                                <th>Entry</th>
                                <th>Exit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>GBN-2306</td>
                                <td>Car Type 101</td>
                                <td>1</td>
                                <td>$7</td>
                                <td><span class="badge bg-success">Paid</span></td>
                                <td><span class="badge bg-warning text-dark">Wrong Parking</span></td>
                                <td>2022-07-04 09:29:13</td>
                                <td>2022-07-04 11:24:26/td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>ABC-4321</td>
                                <td>Minibus</td>
                                <td>9</td>
                                <td>$6</td>
                                <td><span class="badge bg-danger">Pending</span></td>
                                <td><span class="badge bg-primary">Parked</span></td>
                                <td>2022-07-04 14:09:14</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}
 