{% extends 'base.html' %}

{% block content %}

<div class="row">

            <div class="container-fluid mt-3">
                <div class="card">
                    <div class="card-header d-flex gap-3">
                        <i class="bi bi-search"></i>
                        Search Data |
                        <p>Only the records of the last 30 days are available here</p>
                    </div>
                    <div class="card-body">
                        <div class="col-md-6 offset-3 mt-5">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text"name="search"class="form-control"placeholder="Enter Vehicle Number">
                                <button class="btn btn-secondary"type="submit">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </form>
                        </div>
                    </div>
                    {% if data %}
                    <div class="table-responsive mt-4">
                        <table class="table table-bordered text-center">
                            <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Vehicle Number</th>
                                    <th>Vehicle Type</th>
                                    <th>Area Number</th>
                                    <th>Charge</th>
                                    <th>Status</th>
                                    <th>Arrival Time</th>
                                    <th>Departure Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in data %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.vehicle_number }}</td>
                                    <td>{{ i.vehicle_type }}</td>
                                    <td>{{ i.area_number }}</td>
                                    <td>{{ i.parking_charge }}</td>
                                    <td>
                                        {% if i.parking_status == 'Parked' %}
                                        <span class="badge bg-success">
                                            Parked
                                        </span>
                                        {% else %}
                                        <span class="badge bg-danger">
                                            Leaved
                                        </span>
                                        {% endif %}
                                    </td>
                                    <td>{{ i.arrival_time }}</td>
                                    <td>{{ i.departure_time }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

{% endblock %}
 