{% extends 'base.html' %}

{% block content %}

<div class="row">

            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-header d-flex gap-3">
                        <i class="bi bi-box-arrow-in-right"></i>
                        Add Vehicle
                    </div>
                    <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label">Vehicle Number</label>
                                {{ form.vehicle_number }}
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Vehicle Type</label>
                                <select name="vehicle_type"id="vehicle_type"class="form-select">
                                    <option value="">Select Vehicle Type</option>
                                    {% for i in form.vehicle_type.field.queryset %}
                                    <option value="{{ i.id }}">{{ i.vehicle_type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Parking Area Number</label>
                            <input type="text" name="area_number" id="area_number" class="form-control" readonly>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Parking Charge</label>
                            <input type="text" name="parking_charge" id="parking_charge" class="form-control"readonly>
                        </div>
                        <button type="submit"class="btn btn-primary w-100">
                            Submit
                        </button>

                    </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header d-flex gap-2">
                        <i class="bi bi-truck-front-fill"></i>
                        Vehicle Limitations
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                                {% for i in limitations %}
                                <tr>
                                    <td>
                                        {{ i.vehicle_type }} Limit:
                                    </td>
                                    <td class="text-end">
                                        {{ i.parked }} out of {{ i.limit }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-3">
            <div class="card">
                <div class="card-header d-flex gap-3">
                    <i class="bi bi-list-check"></i>
                    Manage Vehicle
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div></div>
                        <div class="d-flex align-items-center">
                            <label for="" class="me-2">Search:</label>
                            <form method="GET" id="searchForm">
                                <input type="text" class="form-control" id="searchInput" placeholder="Search">
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive">
                    <table class="table table-bordered text-center align-middle">
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>Vehicle Number</th>
                                <th>Vehicle Type</th>
                                <th>Area Number</th>
                                <th>Arrival_Time</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            {% for i in data %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.vehicle_number }}</td>
                                <td>{{ i.vehicle_type }}</td>
                                <td>{{ i.area_number }}</td>
                                <td>{{ i.arrival_time }}</td>
                                <td>{% if i.parking_status == 'Parked' %}
                                    <span class="badge bg-success rounded-pill px-3">
                                        Parked
                                    </span>
                                    {% else %}
                                    <span class="badge bg-danger rounded-pill px-3">
                                        Leaved
                                    </span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'edit_vehicle' i.id %}" class="btn btn-primary btn-sm">
                                        Edit
                                    </a>
                                    <a href="{% url 'delete_vehicle' i.id %}" class="btn btn-danger btn-sm">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    {% if data.paginator.num_pages > 1 %}
                    <div class="d-flex justify-content-between align-items-center">
                        <p>
                            Showing page {{ data.number }}
                            of {{ data.paginator.num_pages }}
                        </p>
                        <ul class="pagination">
                            {% if data.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ data.previous_page_number }}" class="page-link">
                                    Previous
                                </a>
                            </li>
                            {% endif %}
                            {% for num in data.paginator.page_range %}
                            <li class="page-item {% if data.number == num %}active{% endif %}">
                                <a href="?page={{ num }}" class="page-link">
                                    {{ num }}
                                </a>
                            </li>
                            {% endfor %}
                            {% if data.has_next %}
                            <li class="page-item">
                                <a href="?page={{ data.next_page_number }}" class="page-link">
                                    Next
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>


    <script>
        document
        .getElementById('vehicle_type')
        .addEventListener('change', function(){
            let vehicle_type_id = this.value
            fetch(
                `/get_vehicle_details/?vehicle_type_id=${vehicle_type_id}`
            )
            .then(response => response.json())
            .then(data => {
                document.getElementById(
                    'area_number'
                ).value = data.area_number
                document.getElementById(
                    'parking_charge'
                ).value = data.parking_charge
            })
        })
    </script>
{% endblock %}
 