{% extends 'base.html' %}

{% block content %}

<div class="row">

            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-header d-flex gap-3">
                        <i class="bi bi-box-arrow-in-right"></i>
                        Add Vehicle
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label">Vehicle Number</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Vehicle Type</label>
                                <select name="" id="" class="form-select">
                                    <option value="">Select Vehicle Type</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Parking Area NUmber</label>
                            <select name="" id="" class="form-select">
                                <option value="">Select Parking Area NUmber</option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Parking Charge</label>
                            <select name="" id="" class="form-select">
                                <option value="">Select Parking Charge</option>
                            </select>
                        </div>
                        <button class="btn btn-primary w-100">
                        Submit
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header d-flex gap-2">
                        <i class="bi bi-truck-front-fill"></i>
                        Vehicle Limitations
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Car Limit:</td>
                                    <td class="text-end">17 out of 18</td>
                                </tr>
                                <tr>
                                    <td>Motorcycle Limit:</td>
                                    <td class="text-end">26 out of 26</td>
                                </tr>
                                <tr>
                                    <td>Mini Van Limit:</td>
                                    <td class="text-end">8 out of 8</td>
                                </tr>
                                <tr>
                                    <td>Pickup Van Limit:</td>
                                    <td class="text-end">11 out of 11</td>
                                </tr>
                                <tr>
                                    <td>Mini Bus Limit:</td>
                                    <td class="text-end">6 out of 6</td>
                                </tr>
                                <tr>
                                    <td>Car Type 101 Limit:</td>
                                    <td class="text-end">5 out of 5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-3">
            <div class="card">
                <div class="card-header d-flex gap-3">
                    <i class="bi bi-list-check"></i>
                    Manage Category
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center mb-3">
                            <label for="" class="me-2">Show</label>
                            <select class="form-select w-auto me-2">
                                <option>10</option>
                            </select>
                            <label for="">Entries</label>
                        </div>
                        <div class="d-flex align-items-center">
                            <label for="" class="me-2">Search:</label>
                            <input type="text" class="form-control" name="" id="">
                        </div>
                    </div>
                    <div class="table-responsive">
                    <table class="table table-bordered text-center align-middle">
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>Vehicle Number</th>
                                <th>Area Number</th>
                                <th>Arrival_Time</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>36</td>
                                <td>GBN-2306</td>
                                <td>2</td>
                                <td>2022-07-04 10:43:15</td>
                                <td>
                                    <span class="badge bg-success rounded-pill px-3">
                                        Parked
                                    </span>
                                </td>
                                <td>
                                    <button class="btn btn-sm">
                                        Done
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p>Showing 1 to 6 entries</p>
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="" class="page-link">Previous</a>
                            </li>
                            <li class="page-item active">
                                <a href="" class="page-link">1</a>
                            </li>
                            <li class="page-item">
                                <a href="" class="page-link">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
 